*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared font style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* this is header section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    padding-top: 26px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav li{
    margin-right: 50px;
    font-size: 1.3rem;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary {
    color: #fd6a0a;
}
.nav-button {
    background-color: #fd6a0a;
    color: white;
    /* height: 45px; */
    /* width: 120px; */
    font-size: 22px;
    font-weight: 518;
    border: none;
    padding: 12px 30px;
    border-radius: 7px;
}
/* header style */
/* banar section */
.header{
    background-color: rgba(252, 245, 235, 0.903);
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 630px;
}

.banar{
    display: flex;
    width: 100%;
    padding: 23px 0px 0px 10%;
    background-image: url('images/developer.png');
    background-repeat: no-repeat;
    background-size: 68px;
}
.banar1 {
    width: 50%;
    /* height: 500px; */
    margin-top: 100px;
}
.banar1 h2 {
    font-size: 2.6rem;
    color: #853401;
}
.banar1 h1{
    font-size: 4.2rem;
}
.banar1 p{
    font-size: 1.1rem;
}
.banar2 img{
    /* width: 50%; */
    height: 520px;
    padding-left: 80px;
}
.nav-button1{
    background-color: #fd6a0a;
    color: white;
    /* height: 45px; */
    /* width: 120px; */
    font-size: 22px;
    font-weight: 518;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
}
.nav-button1 i,.nav-button2 i {
    border: 1.1px solid #b45617d1;
    height: 25px;
}
.nav-button2{
    background-color:rgb(239, 227, 213);
    color: #fd6a0a;
    /* height: 45px; */
    /* width: 120px; */
    font-size: 22px;
    font-weight: 518;
    border: none;
    padding: 10px 18px;
    border-radius: 7px;
    margin-left: 18px;
    border: 0.55px solid rgba(135, 133, 129, 0.972);
}
.nav-button1,.nav-button2 {
    margin-top: 18px;
}
/* hero-section */
.hero-section{
    border: 1.5px solid transparent;
    border-radius: 10px;
    margin: 50px 15%;
    text-align: center;
    background-color: rgba(244, 236, 225, 0.686);
    /* padding: 5% 10%; */
}
.hero1 p{
    padding-top: 40px;
    padding: 2% 9%;
}
.hero1 h2{
    padding-top: 5%;
}
.hero2 ul li{
    list-style: none;
    display: inline;
}
.anorderd{
    display: flex;
    margin-top: 10px;
    padding: 0px 12%;
    justify-content: space-between;
    font-size: 1.08rem;
    font-weight: 500;
}
.orderdli{
    display: flex;
    text-align: center;
    /* padding: 0px 10%; */
    justify-content: space-evenly;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 6%;
}
.herosec1{
    border: 1.5px solid transparent;
    border-radius: 10px;
    margin: 2% 18%;
    text-align: center;
    background-color: rgba(246, 243, 243, 0.819);
    padding: 1% 2%;
}
.heros1 h2 {
    padding: 10px 0px;
}
/* skill-container */
.skill-container {
    display: flex;
    padding: 0px 14%;
    justify-content: space-between;
}
.skill{
    height: 300px;
    width: 205px;
    border: 1.5px solid transparent;
    border-radius: 10px;
    padding: 13px 18px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.skill-title{
    padding: 10px 0px;
}
/* Technical Skill  */
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 540;
}